@import url('reset.css');



.wrapper{
}

/*------------------------------main--------------------------------*/
main{
    margin: 84px auto 0;
    background-color: #fff;
    width: 100%;
}

.about_view{
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

main h4{
    font-size: var(--h4);
    line-height: var(--line_height_title);
    font-weight: var(--font_weight_blod);
    color: var(--text_login_color);

}

.about-us img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

/*---------------關於我們---------------*/

.about-us{
    width: 1200px;
    height: 600px;
    margin: 100px auto;
    box-sizing: border-box;
    padding: 0 230px;

    
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;


}

.sec1-left{ 
    flex-basis: 0;
    flex-grow: 0.7;

    display: flex;
    flex-direction: column;
    gap: 75px;
    
}

.sec1-left h4{
    
}

.sec1-left p{
    color: var(--text_color);
    line-height: var(--line-height_text);
    
}

.abt_pic_left{
    border-top-left-radius: 150px;
    overflow: hidden;
    
}

.sec1_right{
    flex-basis: 0;
    flex-grow: 0.3;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.right-top{
    width: 100%;
    border-top-right-radius: 120px;
    overflow: hidden;
    flex-basis: 0;
    flex-grow: 1.6;
}

.right-top img{
}

.right-bottom{
    width: 100%;
    border-bottom-right-radius: 120px;
    overflow: hidden;
    flex-basis: 0;
    flex-grow: 1;
}

.right-bottom img{
}

/*------------why----------------*/

.whychoose{
    width: 100%;
    background-color: var(--about_backgroud_color);
    padding: 60px 0; 

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px

}

.whychoose h4{
    text-align: center;
}


.whychoose h5{
    font-size: var(--h5);
    color: var(--text_color);
    line-height: var(--line-height_title);
}

.whychoose p{
    color: var(--text_color);
    width: 195px;
}

.whychoose ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:60px;
}

.whychoose li{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:20px;

}

.material-symbols-outlined{
    transform: scale(2);
    color: black;
    font-weight: var(--font_weight_regular);
}

.material-symbols-outlined:hover{
    background-color: rgb(255, 255, 255,0.4);
}


/*--------------空間導覽---------------*/

.sec4{
    padding: 0 0 140px;
}
.sec4 h4{
    text-align: center;
    padding: 120px;
}
.space{
    display: flex;
    align-items: center;
    justify-content: center;

    gap:20px;
}




.space_img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    
    width: 100%;
    overflow: hidden;
}

.space_img img{
    width: 320px;
    height: 320px;
}

/*---------------門市據點---------------*/
.location{
    /* outline: 1px solid yellow; */
    background-color: var(--about_backgroud_color);
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 120px 0 50px;

    position: relative;
    overflow: hidden;
}
.location_text{
    width: 383px;
    height: 219px;
    background-color: #C9AC9A;
    padding: 20px 5px 20px 40px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    transform-origin: 0 0;
    transform: scale(0.9);
}

.location_text h4{
    margin-bottom: 10px;
}

.location_text p{
    font-size: var(--h5);
    line-height: var(--line-height_text);
    color: var(--botton_text_color);
}

.location_pic{
    position: absolute;
    top: 10%;
    bottom: 0;
    left:40%;
}

.location_pic ul{
    display: flex;
    gap:2px
}
.location_pic li{
    display:flex;
    flex-direction: column;
    align-items: center;

    font-size: var(--h5);
    line-height: var(--line-height_text);
    font-weight: var(--font_weight_blod);
    
}


.location_pic img{
    width: 212px;
    height: 224px;

}

/* .icon-next{
    color: blue;
    position: absolute;
    top:20px;
    right: 0;
    z-index: 20;

} */

/*---------回到頂部----------*/

#backtotop{
    display: none;
    border: none;
    border-radius: 50%;
    padding: 10px 12px;
    background-color: var(--color6);

    cursor: pointer;

    position: fixed;
    right: 6vw;
    bottom: 4vh;
    z-index: 999;
}
#backtotop:hover{
    transform: translateY(-2px);
    transition: 0.1s ease;
    background-color: #7c9475ee;
}

.fa-arrow-up{
    color: #fff;
    font-size: 24px;
}


/* ---------- RWD：螢幕寬度小於 1200px ---------- */
@media (max-width: 1200px) {

  .about-us {
    width: 100%;
    padding: 0 40px;
    flex-direction: column;
    height: auto;
    gap: 40px;
  }

  .sec1-left {
    gap: 40px;
  }

  .sec1_right {
    width: 100%;
    height: auto;
    flex-direction: row;
    gap: 20px;
  }

  .right-top,
  .right-bottom {
    height: auto;
    flex-grow: 1;
  }
}


/* ---------- RWD：螢幕寬度小於 768px ---------- */
@media (max-width: 768px) {

  .space_img img {
    width: 200px;
    height: 200px;
  }

  .whychoose ul {
    flex-direction: column;
    gap: 30px;
  }

  .whychoose p {
    width: auto;
    text-align: center;
  }

  .location {
    padding: 60px 20px;
  }

  .location_text {
    width: 100%;
    height: auto;
    transform: none;
    padding: 20px;
  }

  .location_pic {
    position: static;
    margin-top: 40px;
  }

  .location_pic ul {
    justify-content: center;
  }

  .location_pic img {
    width: 150px;
    height: 160px;
  }

}


/* ---------- RWD：螢幕寬度小於 430px ---------- */
@media (max-width: 430px) {

  main {
    margin-top: 50px;
  }

  .about_view {
    height: 180px;
  }

  .space_img img {
    width: 140px;
    height: 140px;
  }

  .sec4 h4 {
    padding: 40px 10px;
  }

  #backtotop {
    right: 4vw;
    bottom: 3vh;
    padding: 8px 10px;
  }

  .fa-arrow-up {
    font-size: 20px;
  }
}
