@import url('reset.css');

.contact_view{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-top: 84px;
}

main{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    max-width: 1200px;
    margin: 40px auto;
    
}

p{
    color: var(--text_color);
    font-size: var(--h6_btn);
    padding: 0 20px;
}

h3{
    color: var(--text_login_color);
    font-size: var(--h2_sec_title);
}

.content{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
    
}

.content_left{
    /* border: 3px solid green; */
    flex-basis: 0;
    flex-grow: 1;
    padding: 20px;

}


.contactlist{
    /* border: 1px solid purple; */
    margin-left: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    

}

.content_left h5{
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
}

.content_left span{
    font-size: 16px;
    line-height: 1.2;

}
.sociallist{
    align-self: flex-end;
    display: flex; 
    gap:10px;
    
}

.sociallist li {
    /* border: 1px solid pink; */
    
}

.sociallist img{
    display: block;
    width: 24px;
    height: 24px;
}

.content_right{
    /* border: 1px solid yellow; */
    flex-basis: 0;
    flex-grow: 1;

    box-sizing: border-box;
    padding: 10px;

    position: relative;

}

.content_right::before{
    content: '';
    display: block;
    width: 2px;
    background-color: var();

    position: absolute;
    top: 0;
    bottom: 0;
    left: -34px;
    margin: auto;

}

.content_right form{
    /* border: 1px solid red; */
    
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.row{
   display: flex;
   
}
.row label{
    min-width: 90px;
    font-size: var(--font_weight_blod);
    color: var(--color3);
}

.submit{
    width: 80%;
    align-self: end;
    background-color: var(--color4);
    border-radius: 10px;
    border: none;
    color: #fff;
    line-height: 1.4;
}

.submit:hover{
    background-color: var(--color3);

}

input,select,textarea{
    border-radius: 3px;
    background-color: #fff;
    border-color: var(--text_login_color);
    height: 20px;
    width: 100%;
}

textarea{
    height: auto;
}

.line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--color3);
    transform: rotate(90deg);
}

/*---------- 螢幕小於 821  時 ----------*/
@media screen and (max-width: 800px){
    .contact_view{
        margin-top: 0;
    }

    .content{
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;
    }

    .content_left,.content_right{
        width: 100%;
    }
}



/*---------- 螢幕小於 430 時 ----------*/
@media screen and (max-width: 431px){

}