
footer{
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('../img/footer-background.jfif');
    background-position: bottom center;
    background-size: cover;
    text-align: center;
    color: var(--footer_text_color);
    padding: 10px 0;
    
    
}

footer.img{}

footer h5{
    font-weight:var(--font_weight_blod);
    margin: 10px 0;
    position: relative;
}

footer h5::before{
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background-color: var(--footer_text_color);
    
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    margin: auto;
}

footer ul+p{
    color: var(--footer_buttontext_color);
}

.footer_list{
    display: flex;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
    padding: 10px 0;
}

footer li{
    display: block;
    width: 36px;
    height: 36px;
}
/*-----------------免費體驗-------------------*/

.button{
    position: relative;
    position: absolute;
}

.button a{
    display: block;
    background-color: var(--botton_background_color);
    color: var(--botton_text_color);
    font-size: var(--h6_btn);
    font-weight: var(--font-weight_blod);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    text-align: center;
    text-decoration: none;
    
    width: 40px;
    box-sizing: border-box;
    padding: 10px 2px;
    position: fixed;
    bottom: 50vh;
    right: 0;
}

.button:hover a{
    animation-name: free;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: initial;
}
@keyframes free {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}