@import url("reset.css");

body{
    font-family: 'Inria Serif','Noto Serif TC',sans-serif,serif;
    position: relative;
}


.wrapper{
    /* outline: 1px solid red; */
    width: 100%;
    margin: 0 auto;

    background-color: var(--botton_text_color);
    /* position: relative; */
}

/*-----------------主視覺-------------------*/
header{
    /* border: 1px solid blue; */
    background-image: url("../img/index_main_bg.png");
    background-size: cover;
    background-position: center center;
    
    width: 100%;
    height: 600px;
    
    display: flex;
    flex-direction: column;

}
/*---------首頁title----------*/
.index_top{
    /* outline: 1px solid green; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding:0 20px;

}
/*---------logo----------*/
.index_top img{
    /* outline: 1px solid pink; */
    width: clamp(120px, 11vw, 240px); 
    max-height: 150px;
  

    display: block;
    box-sizing: border-box;
    margin-left: 10px;

}
/*---------導覽欄----------*/
header nav{
    /* outline: 1px solid pink; */
    align-items: center;
}

header ul{   
    display: flex;
    gap: 20px;
}

header li{
    /* border: 1px solid yellow; */
} 

nav a{
    /* outline: 1px solid red; */
    line-height: 1.2;
    color: var(--botton_text_color);
    font-size: var(--h1_nav); 
    font-weight: var(--font_weight_blod);
    border-bottom: 2px solid transparent;

    display: block;
    box-sizing: border-box;
    padding: 10px 0;
    
    text-decoration: none;
    text-shadow: 0 0 3px black;
    text-align: center;
    
}

nav a:hover{
    border-color:  gainsboro;
}

/* nav a:hover {
    box-shadow: inset 0 -2px 0 gainsboro;
} */


/*漢堡選擔按鈕*/
.menu{
    display: none;
    background-color: transparent;
    border: none;
    padding: 20px;
    max-height: 50px;
    align-self: flex-start;

    cursor: pointer;
}

.menu .fa-solid{
    font-size: 24px;
    color: var(--color3);
    font-weight: var(--font_weight_blod);

    padding: 10px;
}

.active{
    display: block;
}

/*---------會員登入按鈕----------*/
header li:last-child a{
    display: block;
    background-color: var(--text_login_color);
    border-radius: 16px;
    box-sizing: border-box;
    padding: 5px 2px ; 
   

    transition: 0.3s ease;
    transform: scale(0.7);
    text-shadow: none;
}

header li:last-child:hover a{
    transform: scale(0.9);
}

header > img{
    display: block;
    max-width: 463px;
    flex-grow: 1 ;
    margin-left: 16%;
    margin-bottom: 6%;

    animation-name: flow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes flow {
    0%{transform:translateY(20px) ;
        opacity: 0;
    }

    50%{

    }
    100%{transform: translateY(0);
        opacity: 1;
    }
    
}
/*-----------------首頁內容區塊-------------------*/

/*-----------認識lumina-------------*/

.introduct{
    /* outline: 1px solid greenyellow; */
    
    max-width: 1200px;
    box-sizing: border-box;
    margin: 60px auto;
    padding: 0 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
}
.introduct img{
    /* outline: 1px solid red; */
    display: block;
    width: 100%;
    height:auto ;
    object-fit: cover;
}
.introduct_pic{
    flex-basis: 50%;
    flex-grow: 1;
    min-height: 468px;
}

.introduct_text{
    flex-basis: 50%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


.introduct_text h2{
    /* outline: 3px solid gold; */
    font-size: var(--h2_sec_title);
    font-weight: var(--font_weight_blod);
    color: var(--text_login_color);
    align-self: flex-start;
}

.introduct_text p{
    /* outline: 1px solid black; */
    font-size: var(--h5_text);
    color: var(--text_color);
    line-height: var(--line-height_big);
    text-align: left;
    margin-top: 94px;
    

}


/*-------------課程分類-------------*/
.our_class{
    max-width: 1200px;
    margin: 40px auto;
}

.our_class h2{
    font-size: var(--h2_sec_title);
    color: var(--text_login_color);
    font-weight: var(--font_weight_blod);
    line-height: var(--line-height_big);
    text-align: center;
    
    padding: 0 0 60px;
}

.our_class ul{
    /* outline: 1px solid salmon; */
    width: 100%;
    /* min-height: 680px; */
    box-sizing: border-box;
    padding: 0 6%;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-areas: 'card card card'; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    gap: 60px;
}

.our_class li{
    /* grid-area: 'card'; */
    /* max-width: 320px;
    min-height: 100%; */
    background-color: #fff;
    /* border-radius: 20px; */
    /* overflow: hidden; */
    /* border: 1px solid #ccc; */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

    position: relative;
}

.our_class img{
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.our_class h4{
    display: block;
    width: 100%;
    margin: 24px 0;

    color: var(--text_login_color);
    font-size: var(--h4);
    font-weight: var(--font_weight_blod);
    text-align: center;
}

.our_class p{
    padding: 0 6%;
    font-size: var(--h6_btn);
    line-height: var(--line-height_mid);
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.our_class a{
    display: block;
    width: 60px;
    padding: 5px 10px;
    position: absolute;
    right: 1px;
    bottom: 1px;

    background-color: var(--botton_background_color);
    font-size: var(--h6_btn);
    color: var(--botton_text_color);
    text-align: center;
    text-decoration: none;
}

.our_class a:hover{
    transform-origin: right bottom;
    transform: scale(1.2);
    transition: 0.1 ease;
}
 

/*--------------空間圖----------------*/
.middle_pic{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;

}
/*--------------探索之旅----------------*/
/*--journey-same*/
.journey{
    /* outline: 1px solid rebeccapurple; */
    width: 100%;
    margin: 20px auto 50px;
}

.journey_content{
    /* outline: 3px solid blue; */
}

.journey h3{
    color: var(--text_login_color);
    font-size: var(--h2_sec_title);
    font-weight: var(--font_weight_blod);
    text-align: center;
    padding-top: 20px;

}

.journey h4{
    font-size: var(--h3_card_title);
    color: var(--text_login_color);
    line-height: var(--line-height_small);
    z-index: 10;
}

.journey p{
    color: var(--text_color) ;
    font-size: 16px;
    line-height: var(--line-height_big);
    text-align: left;

    padding: 0 48px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10;


}

.journey a{
    display: block;
  
    width: 132px;
    margin-bottom: auto;

    z-index: 10;
    position: relative;
    text-decoration: none;

    
}


.journey a span{
    width: 100%;
    display: block;
    border-radius: 10px;
    background-color: var(--botton_background_color);
    color: var(--botton_text_color);
    font-size: var(--h6_btn);
    font-weight: var(--font-weight_blod);
    letter-spacing: 1px;
    line-height: var(--line-height_big);
    text-align: center;
}

.journey a:hover span{
    animation-name: hit;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes hit {
    0%{
        opacity: 0;
        transform: scale(0)
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
    
}


.journey_content img{
    width: 400px;
    height: 480px;
    object-fit: cover;
    object-position: center;
    z-index: 10;
}

.begin,.build,.challenge,.coach{
    /* outline: 1px solid goldenrod; */
    display: flex;
    justify-content: center;
    gap: 120px;
}

.begin_text,.build_text,.challenge_text,.coach_text{
    /* outline: 2px solid plum; */
    max-width: 360px;
    max-height: 360px;

    display: flex;
    flex-direction: column;
    z-index: 5;
}

/*--------------journey-seperate----------------*/
.begin,.challenge{
    position: relative;
    z-index: 10;
    transform: translateY(100PX);
}

.build,.coach{
    flex-direction: row-reverse;
    position: relative;
}

.build::before,.coach::before{
    content: '';
    width: 100%;
    height: 100%;
    /* background-color: var(--section_background_color); */
    background-color: #FFF7EC;

    position: absolute;
    z-index: 0;
    top: 50px;
}

.begin_text,.challenge_text{

}

.build_text,.coach_text{
    align-self: end;
    min-height: 360px;

}

.begin h4,.challenge h4{
    position: relative;

}

.begin h4::before,.challenge h4::before,.build h4::after,.coach h4::after{
    content: '';
    display: inline-block;
    width: 5px ;
    height: 28px;
    background-color: #C9AC9A;

    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    margin: auto;
}

.build h4,.coach h4,.build p,.coach p{
    align-self: end;
    position: relative;
}

.build p,.coach p{
    margin: auto 0;
    
}
.begin a,.challenge a{
    /* align-self: end; */
}

.build a,.coach a{
    align-self: end;
}

/*---回到頂部----*/


#backtotop{
    display: none;
    border: none;
    border-radius: 50%;
    padding: 10px 12px;
    background-color: var(--color6);

    cursor: pointer;

    position: fixed;
    right: 6vw;
    bottom: 4vh;
    z-index: 999;
}
#backtotop:hover{
    transform: translateY(-2px);
    transition: 0.1s ease;
    background-color: #7c9475ee;
}

.fa-arrow-up{
    color: #fff;
    font-size: 24px;
}




/*---------- 螢幕小於 821  時 ----------*/
@media screen and (max-width: 821px){
/*----RWD-漢堡----*/
header{
    position: relative;
}
.menu{
    z-index: 999;
}
nav{
    display: none;
    
    width: 100%;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;

}
nav a{
    color: var(--text_login_color);
    text-shadow: none;
}

nav a:hover{
    border-color: transparent;
}

header li:last-child a{
    color: #fff;
}

header ul{
    flex-direction: column;
    gap: 6px;

    padding: 20px 5px;
    background-color: var(--about_backgroud_color);
    color: var(--color3);
}

.menu{
    display: block;
}

}


/*---------- 螢幕小於 821  時 ----------*/
@media screen and (max-width: 821px){


}




/*---------- 螢幕小於 430 時 ----------*/
@media screen and (max-width: 431px){

}
 

